<a href="https://colab.research.google.com/github/BenzterBit/MLP/blob/master/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"benzybit","key":"2d9bccaa7d4d615e650a0b725f35bb7e"}'}

In [0]:
!pip install -q kaggle

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [0]:
!chmod 600 /root/.kaggle/kaggle.json

In [13]:
!kaggle datasets download -d broaniki/titanic -p/content
!unzip \*.zip

titanic.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  kaggle-titanic-master.zip
96c14e776090f7919d15064ed73e3b2788b4288c
replace kaggle-titanic-master/images/titanic-disaster.jpg? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: kaggle-titanic-master/images/titanic-disaster.jpg
replace kaggle-titanic-master/input/gender_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: a
error:  invalid response [a]
replace kaggle-titanic-master/input/gender_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: kaggle-titanic-master/input/gender_submission.csv
  inflating: kaggle-titanic-master/input/test.csv
  inflating: kaggle-titanic-master/input/train.csv
  inflating: kaggle-titanic-master/titanic-solution.ipynb

Archive:  titanic.zip
  inflating: kaggle-titanic-master.zip

2 archives were successfully processed.

In [14]:
!unzip \*.zip

Archive:  kaggle-titanic-master.zip
96c14e776090f7919d15064ed73e3b2788b4288c
replace kaggle-titanic-master/images/titanic-disaster.jpg? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: kaggle-titanic-master/images/titanic-disaster.jpg
  inflating: kaggle-titanic-master/input/gender_submission.csv
  inflating: kaggle-titanic-master/input/test.csv
  inflating: kaggle-titanic-master/input/train.csv
  inflating: kaggle-titanic-master/titanic-solution.ipynb

Archive:  titanic.zip
  inflating: kaggle-titanic-master.zip

2 archives were successfully processed.

In [16]:
!ls

gdrive	     kaggle-titanic-master	sample_data
kaggle.json  kaggle-titanic-master.zip	titanic.zip

In [20]:
%cd kaggle-titanic-master
%cd input

[Errno 2] No such file or directory: 'kaggle-titanic-master'
/content/kaggle-titanic-master
/content/kaggle-titanic-master/input

In [122]:
import pandas as pd
df=pd.read_csv('train.csv')
df.Sex.replace(('male','female') , (1,2),inplace=True)
df.head()

   PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
0            1         0       3  ...   7.2500    NaN         S
1            2         1       1  ...  71.2833    C85         C
2            3         1       3  ...   7.9250    NaN         S
3            4         1       1  ...  53.1000   C123         S
4            5         0       3  ...   8.0500    NaN         S

[5 rows x 12 columns]

In [124]:
cdf = df.drop(['Name','Ticket','Cabin','Embarked','PassengerId'],axis=1)
cdf=cdf.dropna()
print(cdf.shape)
cdf.head()

(714, 7)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    2  38.0      1      0  71.2833
2         1       3    2  26.0      0      0   7.9250
3         1       1    2  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [125]:
from sklearn.preprocessing import StandardScaler
X= StandardScaler().fit_transform(X)



X =cdf.iloc[:,1:6]
y = cdf.iloc[:,0]


from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=4)
print(y_train.shape)

(499,)

In [0]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn import svm


loreg = LogisticRegression(C=0.08,solver = 'newton-cg').fit(X_train,y_train)
#loreg = svm.SVC(C=6.0,kernel = 'rbf')
#loreg.fit(X_train,y_train)

In [141]:

yhat = loreg.predict(X_test)

from sklearn.metrics import accuracy_score,classification_report

print(accuracy_score(y_test,yhat))

print(classification_report(y_test,yhat))

0.8
              precision    recall  f1-score   support

           0       0.79      0.90      0.84       124
           1       0.82      0.67      0.74        91

    accuracy                           0.80       215
   macro avg       0.81      0.78      0.79       215
weighted avg       0.80      0.80      0.80       215